# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: TranSafe
  description: Online transactions made safe
  version: "1.0.0"
# the domain of the service
host: tracker.es.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /api/v1
produces:
  - application/json
paths:
  /notification/email/new/:
    post:
      summary: Create a notification, destination which can be different, for this endpoint will be email
      description: This endpoint will send an email for an especific email
      parameters:
        - name: email
          in: query
          description: The email
          required: true
          type: string
        - name: message
          in: query
          description: The message to send
          required: true
          type: string
      tags:
        - Notifications
      responses:
        200:
          description: The notification id in our system
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /notification/sms/new/:
    post:
      summary: Create a notification, destination which can be different, for this endpoint will be SMS
      description: This endpoint will send an SMS for an especific NUMBER
      parameters:
        - name: number
          in: query
          description: The number
          required: true
          type: string
        - name: message
          in: query
          description: The message to send
          required: true
          type: string
      tags:
        - Notifications
      responses:
        200:
          description: Current state
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
  /notification/messenger/new/:
    post:
      summary: Create a notification, destination which can be different, for this endpoint will be SMS
      description: This endpoint will send an SMS for an especific NUMBER
      parameters:
        - name: profile_id
          in: query
          description: The email
          required: true
          type: string
        - name: message
          in: query
          description: The message to send
          required: true
          type: string
      tags:
        - Notifications
      responses:
        200:
          description: Current state
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/Error"
definitions:
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
